<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="B2BinpayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\B2Binpay\Payment\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">B2BinpayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">B2BinpayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <type name="B2Binpay\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\B2Binpay\Payment\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </type>

    <!-- Logger, initialized with B2Binpay\Payment\Gateway\Config\Config -->
    <virtualType name="B2BinpayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">B2Binpay\Payment\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <type name="B2Binpay\Payment\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">B2BinpayLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="B2BinpayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">B2BinpayAuthorizeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="B2BinpayAuthorizeCommand" type="B2Binpay\Payment\Gateway\Command\AuthorizationCommand" />

    <!-- Value handlers infrastructure -->
    <virtualType name="B2BinpayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">B2Binpay\Payment\Gateway\Config\ConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="B2Binpay\Payment\Gateway\Config\ConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">B2Binpay\Payment\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>
</config>
