<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="b2binpay" frontName="b2binpay">
            <module name="B2Binpay_Payment" before="Magento_Backend" />
        </route>
    </router>
</config>
